/* Set ALL HTML elements with border-box sizing */
* {
  box-sizing: border-box;
}
.dark-background{
	background-color: #4C243B;
	color: #FAE3E3;
}
.header{
	color:#fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url(https://images.unsplash.com/photo-1528372444006-1bfc81acab02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
	background-size: contain;
	background-position: center center;
	height: 100vh;
	opacity: 0.7;
}
/*push the navigation button to the right*/
.nav{
 display: flex;
 justify-content: flex-end;
}
.nav>a{
 color: #FAE3E3;
 text-decoration: none;
 padding: 20px;
 font-size: 15px;
}
.wrapper{
	text-align: center;
}
body{
	background-color: #F7D4BC;
}
a::link{
	color: #000;
}
a::visited{
	color: #4B88A2;
}
a::hover{
	color: #60E1E0;
}
#lists{
	list-style-position: inside;
}
body{
	margin-bottom: 40px;
}
/*fix footer to bottom*/
footer{
	bottom: 0;
	position: relative;
	width: 100%;

}
footer>p{
	text-align: center;
	padding: 10px;
}






